
@font-face {
    font-family: Circe;
    src: url(font/6444e13db38127d31ba2b497d0500090.woff) format("woff");
    font-weight: 400;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Circe;
    src: url(font/fc2a6498c769c8351fc78ed012d3f8d7.woff) format("woff");
    font-weight: 700;
    font-style: normal;
    font-display: swap
}

@font-face {
    font-family: Circe;
    src: url(font/12b20b27b37b3f9da6dabd78af280d51.woff) format("woff");
    font-weight: 900;
    font-style: normal;
    font-display: swap
}